#search{
	 -fx-background-image: url(../../../resources/style_2/search.png);
	 -fx-background-size: 45,45;
	 -fx-background-position:center;
	 -fx-background-repeat:no-repeat;
}

.button:hover{
    -fx-background-color: #7c82e9;
}

.button:pressed{
    -fx-background-color: #7676f5;
}

#refresh{
	 -fx-background-image: url(../../../resources/style_2/refresh.png);
	 -fx-background-size: 45,45;
	 -fx-background-position:center;
	 -fx-background-repeat:no-repeat;
}
